
/* @import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap'); */
@import url('https://fonts.cdnfonts.com/css/cooper-black');


body {
	margin: 0;
	background-color: #000;
	/* color: #fff; */
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;


	overscroll-behavior: none;
	touch-action: none;
	/* color: #333; */
	user-select: none;
}

canvas {
	pointer-events:auto;
	-webkit-user-select:none;
	user-select:none
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
	position: absolute;
	top: 0%;
}



a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info, #infoLeft {
	color: #fff;
	position: absolute;
	top: 0px;
	/* width: 100%; */
	padding: 10px;
	right: 0px;
	box-sizing: border-box;
	text-align: right;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	text-shadow: black 1px 1px;
	font-family: 'Cooper Black', sans-serif;

	/* display: none; */
}

#infoLeft {
	text-align: left;
	left: 0px;
}

a, button, input, select {
	pointer-events: auto;
}

@media (min-aspect-ratio: 1.0) {
 #countdown {
	font-size: 20em;
 }
}

@keyframes flickerAnimation {
  0%   { opacity:0; scale:2;}

  50%  { opacity:1; scale:1;}
  100% { opacity:0; scale:2}
}

.animate-flicker {
   
    animation: flickerAnimation 0.5s infinite;
}

/*//////////////////////////////??////////////////
//	           UI & taphint                   ///
///////////////////////////////////////////////*/
#soundImg {
	position: absolute;
	bottom: 1;
	left: 2;
	width: 30px;
	cursor: pointer;
	visibility: hidden;
}

#soundImgBlack {
	position: absolute;
	bottom: 0;
	left: 3;
	width: 30px;
	visibility: hidden;
}

#tapHint , #tapHintMulti {
	position: absolute;
	width: 10em;
	margin: auto;
	left: 0;
	right: 0;
	top :0;
	bottom: 0;
	display: none;
}

#settingsImg {
	position: absolute;
	bottom: 2;
	right: 1;
	width: 30px;
	cursor: pointer;
	visibility: hidden;
}

#settingsImgBlack {
	position: absolute;
	bottom: 1;
	right: 0;
	width: 30px;
	visibility: hidden;
}

#crosshair {
	position: absolute;
	width:64px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#countdown {
	position: absolute;
	font-family: 'Cooper Black', sans-serif;
	font-size: 24em;
	text-align: center;
	margin: auto;
	left: 0;
	right: 0;
	top :calc(50% - 0.2em);
	bottom: 0;
	color: white;
	text-shadow: black 3px 3px;
	display: none;
}