/* Mobile first CSS */

/* @import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap'); */
@import url('https://fonts.cdnfonts.com/css/cooper-black');



body {
    background: transparent;
    color: #eee;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    touch-action: none;
    user-select: none;
    
    overflow: hidden; 
    text-shadow: black 1px 1px;

    
    

    font-family: 'Cooper Black', sans-serif;
    font-weight: 400;
    font-style: normal;
}

a , a:visited {
  color: #fafaa5;
}

#credits p{
  margin: .4em;
}

a:hover {
  color: #ffff00;
}

h1 {
  margin: 0.3em;
  font-size: 4em;
}

h2 , h3 {
  margin: 0.2em;
  font-size: 2.0em;
}

h4 {
  margin: 0.1em;
  font-size: 1.1em;
}


@media (max-aspect-ratio: 1.0) {
  #complete h3 {
    margin: 0.1em;
    font-size: 1.8em;
  }

  #timeup_score {
    line-height: .7em
  }
  
  #timeup_rocketsBtn {
    margin-top: 0;
    margin-bottom: 0;
  }

 
}






main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.ui-panel {
    position: absolute;
    top:-75%;
    transform: translateY(-50%);

    background: rgba(255, 79, 202, 0.8);
    padding: 1.5em;
    border-radius: .7em;
    border: 0.7em solid yellow;
    box-shadow: 0 .2em .8em rgba(0,0,0,0.3);
    width: 13em;
    /* margin: 2em; */

    text-align: center;

    /* display: none; */
    transition: 0.7s top ease;
}
.ui-panel button {
    font-family: 'Cooper Black', sans-serif;
    background: rgb(3, 166, 0);
    color: #fff;
    border: none;
    padding: 0.75em 1.5em;
    border-radius: .4em;
    font-size: 1em;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: 1em;
    transition: background 0.2s , text-shadow 0.2s;
    text-shadow: black 1px 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    
}
.ui-panel button:hover {
    background: rgb(3, 100, 0);
    text-shadow: black 0 0;
    
}

@media (min-aspect-ratio: 1.0) {
#timeup_multiBtn {
  margin-top: 0;
    margin-bottom: 0;
}

.foo#timeup {
  width: 29em;
  /* This is triggert from javascript now */
}


h2 , h3 {
  /* margin: 0.0em; */
  font-size: 1.5em;
}

#intro h2 {
  font-size: 2.6em;
}

h1 {
  margin : 0
}

h4 {
  margin: 0.1em;
  font-size: 1.2em;
}



  #complete   {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
  }



  #about button {
    margin-top: 0;
    margin-bottom: 0.2em;
  }

  .ui-panel {
    width:22em;
    padding-top:0.5em;
    padding-bottom: 0.5em;
  }

  #settings button{
    margin: 1em;
    margin-top: 2em;
  }

  #settings h2{
    margin: .5em;
  }

  #settings p {
    /* display: table-cell; */
    width: 42%;
  }
}
